/* .container {
    width: 100%;
    height: 100px;
    position: relative;
    background-color: #2d4250;
  }
  .box {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    opacity: 1.0;
  }
  .overlay {
    z-index: 0;
    width: 100%;
    text-align: center;
    
  } */
  .column {
    float: left;
    width: 50%;
    height: 110px;
    background-color: #2e4352;
  }
  
  .row:after {
    content: "";
    display: table;
    clear: both;
  }
  .btnrow {
    content: "";
    display: table;
    clear: both;
    justify-content: center;
    width: 100%;
    background-color: #283d4a;
    
    
  }
  .searchBar{
    display:flex;
    justify-content:center;
    margin:1rem;
    width: 10;
    height: 10;

  }
  
  .txt{
    height:2rem;
    border: 2px solid black;
    border-radius: 10px;
    width: 100%;
    text-align: center;
  }

  .btn{
   display: flex;
    
  }
  .addFormBGColor{
    background-color:white !important;
  }
  .inputTextField{
    width: 47%;
    border:2px solid black;
    height:2rem;
    background-color: white;
    font-size: 1rem;
    border-radius:5px;
  
  }
  .btnAddForm{
    width: 100% !important;
    text-align: center !important;
    border: 2px solid white !important;
    color: white !important;
    cursor: pointer !important;
  }
  /* 
  <div class="container">
    <div class="box">
      <h2>ABC Product</h2>
    </div>
    <div class="box overlay">
      <h2>HighRadius</h2>
    </div>
  </div> 
  */