/* .button-box {
  background-color: #283a46;
} */
.Edit-box{
  margin-top: 10px;
}

.sectionBody {
  background-color: #283d4a;
  margin-top: 2vh;
  margin-bottom: 2vh;
  width: 100vw;
  height: 66vh;
}
.GridHeader {
  display: flex;
  background-color: #364854;
  flex-direction: row;
  display: flex;
   align-items: flex-start;
   justify-content: space-around;
   margin-top: 30px;
   margin-left: 5px; 
   margin-bottom: 30px;
   padding: 20px 10px 20px 35px;
}

.MuiDataGrid-cellContent {
  color: white;
}

.MuiDataGrid-columnHeaderTitle {
  color: white;
}

.input {
  color: white;
}

.logo-flex{
  display: grid;
  grid-template-columns: auto auto auto; 
  margin-top: 10px;
  margin-left: 10px;
}
.logo-item{
   width: 500px;
   margin-left: -100px;
}

.footer {
  background-color: #364854;
}

.MuiBox-root {
  color: white;
}

.css-12wnr2w-MuiButtonBase-root-MuiCheckbox-root {
  color: white;
}
.add-box{
  /* float: right;
  padding-right: 5px; */
  margin-top: 10px;
  margin-right: -10px;
}
.analytics-box{
  float: right;
  margin-top: 10px;
  /* margin-left: -40px; */
}
.analytics-txt{
  background: none;
  border-radius: 10px;
  font-size: 14px;
  border: 1px solid #14AFF1;
  height: 35px;
  padding-left: 30px;
  padding-right: 30px;
}
.analytics-btn{
  color: #FFFFFF;
}
.predict-box{
  margin-top: 10px;
 float: right;
 margin-left: -40px;
}
.predict-txt{
  background: none;
  border-radius: 10px;
  padding-bottom: px;
  font-size: 14px;
  border: 1px solid #14AFF1;
  height: 35px;
  padding-left: 50px;
  padding-right: 50px;
}
.predict-btn{
  color: #FFFFFF;
}
a{
  padding-right: 4px;
  text-decoration: none;
}

.Button-box{
  float: right;
    padding-right: 5px;
    margin-left: -100px;
}

.css-pdct74-MuiTablePagination-selectLabel {
  color: white;
}
.css-levciy-MuiTablePagination-displayedRows {
  color: white;
}
#add{
  background: none;
  border: none;
  outline: none;
  float: left center;
  line-height: 15px;
  width: 230px;
  padding-left: 20px;
  padding-right: 30px;
  font-size: 15px; 
  background-color: white;
  border-radius: 10px;
  margin-top: 5px;
}
.AdvanceSearch{
  float: right;
    padding-right: 5px;
    /* margin-left: -100px; */
    margin-top: 10px;
}
.GridPanelRefreshButton-root{
  margin-top: 10px;
  /* margin-left: -100px; */
}
.css-i4bv87-MuiSvgIcon-root {
  color: white;
}
.css-1rwt2y5-MuiButtonBase-root-MuiButton-root {
  color: white;
}
.addFormBGColor {
  background-color: white;
}

.Add-can-btn {
  display: flex;
  justify-content: space-around;
  margin-bottom: 25px;
  /* gap: 25px; */
  /* text-align: end; */
}
.css-194a1fa-MuiSelect-select-MuiInputBase-input.MuiSelect-select {
  color: white;
}
.logo-flex{
  display: grid;
  grid-template-columns: auto auto auto; 
  margin-top: 10px;
  margin-left: 10px;
}
.logo-item{
   width: 500px;
   margin-left: -100px;
}